@charset 'utf-8';
/* reset */
html{color:#000;background:#fff;}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,input,button,textarea,p,blockquote,th,td{margin:0;padding:0;}
body{font:12px/1 Tahoma,Helvetica,Arial,"\5b8b\4f53",sans-serif;}
img{border:none;display:block;}
em,strong{font-style:normal;font-weight:normal;}
li{list-style:none;}
table {border-collapse:collapse;border-spacing:0;}
h1{font-size:18px;}
h2{font-size:16px;}
h3{font-size:14px;}
h4, h5, h6{font-size:100%;}
span,p,div{font-family:"Microsoft YaHei";}

q:before,q:after{content:'';}/* 消除q前后的内容 */
button,input,select,textarea{font-size:100%;}/* 使得表单元素在 ie 下能继承字体大小 */
input,button,textarea,select,optgroup,option{font-family:'Microsoft YaHei',inherit;font-size:inherit;font-style:inherit;font-weight:inherit;}
address,cite,dfn,em,var{font-style:normal;} /* 将斜体扶正 */

/* link */
a{color:#000;text-decoration:none;font-family:'微软雅黑';}
a:hover{color:#f60;}

/* clear Float*/
.clearfix:after{content:'';display:block;clear:both;}
/* public Class*/
.fl-l{float:left;}
.fl-r{float:right;}
.omit{display:block;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.onselet{user-select:none;}
.triangle{
    position:relative;
}
.triangle:after{
    content:"";
    position:absolute;
    top:50%;
    right:3px;
    width:0;
    height:0;
    border:3px solid #999;
    border-color:#999 transparent transparent transparent;
    margin-top:-1.5px;
    transition:transform .3s;
    -webkit-transition:transform .3s;
    -moz-transition:transform .3s;
    -ms-transition:transform .3s;
    transform-origin:center 2px;
    -webkit-transform-origin:center 2px;
    -moz-transform-origin:center 2px;
    -o-transform-origin:center 2px;
}
.triangle{
    display:inline-block;
    height:33px;
    padding:0 12px !important;
    border:1px solid transparent;
    border-style:none solid none solid;
}
.triangle.hover{
    background:#fff;
    border-color:#eee;
    text-decoration:underline;
}
.triangle.hover:after{
    transform:rotate(180deg);
    -webkit-transform:rotate(180deg);
    -moz-transform:rotate(180deg);
    -o-transform:rotate(180deg);
}
